@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rounded+Mplus+1c:wght@800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-rounded-mplus-1c: "Rounded Mplus 1c";
  --font-lato: Lato;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-mid-2: 17.2px;
  --font-size-8xl-4: 27.4px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-41xl: 60px;
  --font-size-7xl-6: 26.6px;
  --font-size-2xl: 21px;
  --font-size-22xl-8: 41.8px;
  --font-size-6xl: 25px;
  --font-size-14xl: 33px;
  --font-size-28xl-5: 47.5px;
  --font-size-9xl: 28px;
  --font-size-3xl-4: 22.4px;
  --font-size-mini-4: 14.4px;
  --font-size-lgi-2: 19.2px;
  --font-size-9xl-8: 28.8px;
  --font-size-4xl: 23px;

  /* Colors */
  --primary-neutral-0: #fff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-dimgray-100: #747373;
  --color-dimgray-200: #585858;
  --color-dimgray-300: #4f4f4f;
  --color-whitesmoke-100: #f1f2f5;
  --color-whitesmoke-200: #f2efef;
  --color-whitesmoke-300: #f1efef;
  --color-whitesmoke-400: rgba(247, 247, 247, 0.9);
  --color-darkgreen: #216900;
  --color-gray-100: #71766f;
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --color-lightgoldenrodyellow: #d5f2c8;
  --color-darkolivegreen: #4a7437;
  --color-limegreen: #45d203;
  --color-darkgray: #a0a0a0;

  /* Gaps */
  --gap-xl: 20px;
  --gap-smi: 13px;
  --gap-base: 16px;
  --gap-8xl: 27px;
  --gap-lg: 18px;
  --gap-lgi: 19px;
  --gap-lgi-8: 19.8px;
  --gap-35xl-9: 54.9px;
  --gap-lgi-2: 19.2px;
  --gap-lgi-5: 19.5px;
  --gap-xs: 12px;
  --gap-3xl-8: 22.8px;
  --gap-smi-2: 12.2px;
  --gap-6xs: 7px;
  --gap-4xl: 23px;
  --gap-14xl-4: 33.4px;
  --gap-mid: 17px;
  --gap-5xl: 24px;
  --gap-11xs: 2px;
  --gap-3xl: 22px;
  --gap-12xs: 1px;
  --gap-9xs: 4px;
  --gap-9xs-5: 3.5px;
  --gap-7xl-4: 26.4px;
  --gap-10xs-4: 2.4px;
  --gap-3xs-6: 9.6px;
  --gap-3xs: 10px;
  --gap-2xl: 21px;
  --gap-12xl-2: 31.2px;
  --gap-6xl: 25px;
  --gap-17xl-7: 36.7px;
  --gap-16xl-2: 35.2px;
  --gap-7xs: 6px;
  --gap-15xl-7: 34.7px;

  /* Paddings */
  --padding-41xl: 60px;
  --padding-9xs: 4px;
  --padding-xl: 20px;
  --padding-sm: 14px;
  --padding-2xl: 21px;
  --padding-12xl: 31px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-11xs: 2px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-27xl: 46px;
  --padding-lg: 18px;
  --padding-11xl: 30px;
  --padding-10xl: 29px;
  --padding-smi: 13px;
  --padding-6xl: 25px;
  --padding-20xl: 39px;
  --padding-7xl: 26px;
  --padding-18xl: 37px;
  --padding-3xs: 10px;
  --padding-8xl: 27px;
  --padding-mini: 15px;
  --padding-10xs-5: 2.5px;
  --padding-24xl: 43px;
  --padding-4xl: 23px;
  --padding-35xl: 54px;
  --padding-34xl: 53px;
  --padding-29xl: 48px;
  --padding-15xl: 34px;
  --padding-46xl: 65px;
  --padding-base: 16px;
  --padding-30xl: 49px;
  --padding-37xl-5: 56.5px;
  --padding-22xl-5: 41.5px;
  --padding-4xs-2: 8.2px;
  --padding-6xs: 7px;
  --padding-9xs-8: 3.8px;
  --padding-5xl: 24px;
  --padding-235xl: 254px;
  --padding-108xl: 127px;
  --padding-xl-5: 20.5px;
  --padding-mid-2: 17.2px;
  --padding-8xs-4: 4.4px;
  --padding-42xl: 61px;
  --padding-39xl: 58px;
  --padding-80xl: 99px;
  --padding-155xl: 174px;
  --padding-45xl: 64px;
  --padding-94xl: 113px;
  --padding-16xl: 35px;
  --padding-20xl-7: 39.7px;
  --padding-7xs: 6px;
  --padding-33xl: 52px;
  --padding-3xs-6: 9.6px;
  --padding-204xl: 223px;
  --padding-23xl: 42px;
  --padding-13xl: 32px;
  --padding-53xl: 72px;
  --padding-52xl: 71px;
  --padding-9xl: 28px;
  --padding-xs: 12px;
  --padding-14xl: 33px;
  --padding-19xl: 38px;
  --padding-base-5: 15.5px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-base: 16px;
  --br-mini: 15px;
  --br-31xl: 50px;
  --br-6xs-6: 6.6px;
  --br-5xs: 8px;
  --br-20xl: 39px;
}
